body{
	background-color: #DCDCDC;
	font-family: Arial;
	color: black;
	background-color: #ECEDEE;
	margin: 0;
    	padding: 0;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.navSplit{
	display:inline;
}
/* links */
a{
	text-decoration:none;
}
a:visited {
	color: #79D2FC;
}
a:hover {
	color: white;
}
/* --------- */
/* header */
#header{
	width:100%;
	background-color: #404040;
	padding-bottom:10px;
}
#title-con img{
	width:16%;
	margin-left:16%;
	min-width:125px;	
}
img{
	
	clip: rect(0px,10px,10px,0px);
	
}
#title-con{
	max-width:1010px;
	width:80%;
}
#menu-items{
text-align:center;
width:100%;
	color:#f7f7f7;
}
#menu-items a{
	
	color:#f7f7f7;
	font-family:arial;

}
/* -------------- */
/* footer */

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background:#DCDCDC;
   margin-bottom: -1em;

}

/* -------------- */


/* container */
#mainConIndex{
	
	margin-top:10px;
	margin-bottom:10px;
	padding-left:auto;
	padding-right:auto;
	width:1007px;
	max-width:1010px;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	
	overflow:hidden;
	
}
#border{
	border-style:solid;
	border-color:#C1C1C1;
	border-width:1px;
}
.backWhite{
	background-color:white;
}





/* ------------------------------ */





/*----------- home ------------- */
/*1 con */
.littleCon1 img{
	margin-top:5px;
	margin-bottom:5px;
	width: 100%;
	height: 100px;

}
.littleCon1{
	margin:5px;
	border: solid;
	border-color: #AAAAAA;
	border-width: 1px;
	float:left;
	width:230px;
	padding:5px;
	background-color:white;
	color:black;
	height:260px;
}
.littleCon1 p{
	margin:5px;
	color:#900C3F;
}
.littleCon1 br{
	margin:10px;
}
.littleCon2 .pic{
	margin-right:2.5%;
	
}
/* 2 con */
.littleCon2 img{
	margin-top:5px;
	margin-bottom:5px;
	width: 50%;
	height: 100px;
	float:left;
	

}
.littleCon2{
	font-family:arial;
	margin:5px;
	border: solid;
	border-color: #AAAAAA;
	border-width: 1px;
	float:left;
	width:480px;
	padding:5px;
	background-color:white;
	color:black;
	height:260px;
}
.littleCon2 p{
	margin:5px;
	color:#900C3F;
}
.littleCon2 br{
	margin:10px;
}
.littleCon2 a{
color:#900C3F;
margin-left:15%;
}


/* ----------------------------- */

/* form */
.enterText{
color:red;	
	
}

.textboxSize{
	width:55%;
	height:30px;
	margin-top:2px;
	margin-bottom:2px;

}

.textStyle{
	box-sizing:border-box;
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:2px;
}
.button{
    background-color: #6688BB;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	float:right;

}
.feedbackFrom{
	color:#333333;
}
.feedbackFormPosition{
	padding:10px;
}
/* ----------------------------- */

/* comments */



.commentContainer{
	background-color:green;
}
/*comments*/
.fullCon1{
	margin:5px;
	border: solid;
	border-color: #AAAAAA;
	border-width: 1px;
	float:left;
	width:93%;
	padding-left:29px;
	padding-right:29px;
	padding-top:15px;
	padding-bottom:15px;
	background-color:white;
	color:black;
	 border-radius: 25px;
}
.commentText{
	text-indent:8%;
}
.fullCon1 p{
	margin:5px;
	color:#900C3F;
}
.fullCon1 br{
	margin:10px;
}
#footer{
	padding:10px;
	height:40px;
	position:relative;
	bottom:0px;
	
}

@media screen and (max-width: 1030px) {

	/* container */
	#mainConIndex{
		width:755px;
		
	}	
	.navSplit{
	display:inline;
	}
	#title-con img{
		margin-bottom:10px;
	
	}
}
@media screen and (max-width: 780px) {

	/* container */
	#mainConIndex{
		width:500px;
		
	}	
	
	/* cons */
	.littleCon1 img, .littleCon2 img{
		margin-top:5px;
		margin-bottom:5px;
		width: 50%;
		height: 100px;
		float:left;
		
	}
	.littleCon1, .littleCon2{
		margin:5px;
		float:left;
		width:480px;
		padding:5px;
		height:auto;
	}

	.littleCon1 .pic, .littleCon2 .pic{
		margin-right:2.5%;
		
	}

	.navSplit{
		display:inline;
	}
	
}

@media screen and (max-width: 530px) {

	/* container */
	#mainConIndex{
		width: 253px;
		
	}	
	
	/* cons */
	.littleCon1 img, .littleCon2 img{
		margin-top:5px;
		margin-bottom:5px;
		width: 100%;
		height: 100px;
		
	}
	.littleCon1, .littleCon2{
		width:230px;
		height:auto;
	}

/*-------- nav --------------*/
	.navSplit{
		display:none;
	}
	#menu-items a{
		
		color:#F8F9F9;
		font-family:arial;
		display:block;
		width:100%;
		background-color:#5f5f5f;
		padding-top:5px;
		padding-bottom:5px;
	}
	#title-con img{
		margin-bottom:20px;
	
	}


}













